EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://servico.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://servico.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://servico.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AutorizacaoFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="CadastroItem" type="tns:CadastroItem"/>

      <xs:element name="CadastroItemResponse" type="tns:CadastroItemResponse"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="todosOsItens" type="tns:todosOsItens"/>

      <xs:element name="todosOsItensResponse" type="tns:todosOsItensResponse"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="CadastroItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="tipo" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadastroItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="todosOsItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="todosOsItensResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="todosOsItens">
    <part name="parameters" element="tns:todosOsItens"/>
  </message>
  <message name="todosOsItensResponse">
    <part name="parameters" element="tns:todosOsItensResponse"/>
  </message>
  <message name="CadastroItem">
    <part name="parameters" element="tns:CadastroItem"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="CadastroItemResponse">
    <part name="result" element="tns:CadastroItemResponse"/>
  </message>
  <message name="AutorizationException">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosOsItens">
      <input wsam:Action="http://servico.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"/>
      <output wsam:Action="http://servico.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"/>
    </operation>
    <operation name="CadastroItem" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://servico.estoque.caelum.com.br/EstoqueWS/CadastroItemRequest" message="tns:CadastroItem"/>
      <output wsam:Action="http://servico.estoque.caelum.com.br/EstoqueWS/CadastroItemResponse" message="tns:CadastroItemResponse"/>
      <fault message="tns:AutorizationException" name="AutorizationException" wsam:Action="http://servico.estoque.caelum.com.br/EstoqueWS/CadastroItem/Fault/AutorizationException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CadastroItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:CadastroItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizationException">
        <soap:fault name="AutorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

